<!-- navbar will expand on small screens only cuz we've set it to expand-md -->
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top"> 
    <!-- border-bottom is bootstrap class for getting border at bottom of our navbar
    Sticky-top is bootstrap class which can set our navbar on top when we scroll -->
    <div class="container-fluid">
      <a class="navbar-brand" href="/Listings"><i class="fa-solid fa-person-walking-luggage"></i></a>
      <button class="navbar-toggler" type="button" 
      data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          
          <a class="nav-link" href="/Listings">Explore</a>
          
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/Listings/new">Airbnb your home</a>
<!-- In app.js in that We've made a currUser which will store details of user and then we've accessed it here -->
          <%if(!currUser){%>
            <!-- If currUser is not done login or singup then we'll show him this Signup and login icons -->
          <a class="nav-link"  href="/signup"><b>Signup</b></a>
          <a class="nav-link" href="/Login"><b>Login</b></a>
        <%}%>
        <!-- If user is already logged in then we'll show him only logout icon -->
        <%if(currUser){%>
          <a class="nav-link" href="/Logout">Logout</a>
          <%}%>
        </div>
      </div>
    </div>
  </nav>