<!-- Index.ejs file is made for rendering our all listings and to create new listing button within it -->
<%layout("/layouts/boilerplate")%>

<body>
   <style>
    #filters {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-right: 5rem;
    }
    .filter {
      text-align: center;
      margin-right: 2rem;
      margin-top: 2rem;
      opacity: 0.5;
    }
    .filter:hover {
opacity: 1;
cursor: pointer;
    }
    .filter p {
      font-size: 0.8rem;
    }
    .filter a {
      text-decoration: none;
      color: inherit;
    }
    @media (max-width: 768px) {
  /* Adjust filter layout for medium-sized screens */
  #filters {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .filter {
    margin: 1rem 0; /* Add vertical spacing for stacked filters */
    width: 100%;
    text-align: center;
  }
  .filter div {
    font-size: 24px; /* Reduce icon size slightly */
  }
}

@media (max-width: 576px) {
  /* Adjust layout for smaller screens */
  .filter {
    width: 80px; /* Adjust width of filter items */
  }
  .filter div {
    font-size: 18px; /* Further reduce icon size for small screens */
  }

  .listing-card {
    width: 100%; /* Make cards full width on small screens */
    margin: 1rem 0; /* Add spacing between cards */
  }
}

.tax-info {
display: none;
}
.tax-switch {
  border: 1px solid black;
  border-radius:1rem ;
  height: 3.25rem;
  margin-left: 3rem;
  justify-content: center;
 padding: 1rem;
 align-items: center;
}

   </style>
    <div id="filters">
      <div class="filter">
        <a href="/category/Hotels" class="listing_link">
       <div> <i class="fa-solid fa-hotel fi"></i></div>
       <p>Hotels</p>
       </a>
      </div>
      <div class="filter">
        <a href="/category/Rooms" class="category-link">
        <div><i class="fa-solid fa-bed fi"></i></div>
        <p>Rooms</p></a>
       </div>
       <div class="filter">
        <a href="/category/Beach" class="category-link">
         <div><i class="fa-solid fa-umbrella-beach fi"></i></div>
         <p>Beach</p></a>
        </div>
        <div class="filter">
          <a href="/category/Arctic" class="category-link">
          <div> <i class="fa-solid fa-snowflake fi"></i></div>
          <p>Arctic</p></a>
         </div>
         <div class="filter">
          <a href="/category/Swimming Pool" class="category-link">
           <div><i class="fa-solid fa-person-swimming fi"></i></div>
           <p>Swimming Pool</p></a>
          </div>
          <div class="filter">
            <a href="/Listings/Camping" class="category-link">
           <div> <i class="fa-solid fa-tents fi"></i></div>
           <p>Camping</p></a>
          </div>
          <div class="filter">
            <a href="/category/Hill-Station" class="category-link">
            <div><i class="fa-solid fa-mountain-city fi"></i></div>
            <p>Hill-Station</p></a>
           </div>
           <div class="filter">
            <a href="/category/Vineyards" class="category-link">
            <div> <i class="fa-solid fa-wine-glass fi"></i></div>
            <p>Vineyards</p></a>
           </div>
           <div class="filter">
            <a href="/category/Lake" class="category-link">
            <div><i class="fa-solid fa-water fi"></i></div>
            <p>Lake</p></a>
           </div>
           <div class="filter">
            <a href="/category/National Parks" class="category-link">
            <div><i class="fa-solid fa-tree fi"></i></div>
            <p>National Parks</p></a>
           </div>
           <div class="tax-switch">
            <div class="form-check-reverse form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">Display After Taxes </label>
            </div>
           </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
      <% for(let Listing of allListings){%>
      <a href="/Listings/<%=Listing._id%>" class="listing_link">
        <div class="card col listing-card" style="width: 18rem;">
          <img src="<%=Listing.image.url%>" class="card-img-top" alt="listingimage"style="height: 18rem;">
          <!-- Below card-img-overlay is for giving a clickable hovering effect to our card using css -->
          <div class="card-img-overlay"></div>
          <div class="card-body">
  <p class="card-text">
    <b><%=Listing.title%></b> 
    <br>
    <b>&#8377;<%=Listing.price.toLocaleString("en-IN")%> </b>/night<i class="tax-info">&nbsp;&nbsp;+18%GST</i></p>
          </div>
          
        </div></a>
        <%}%></div>
   <script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");//id is of checkbox
    taxSwitch.addEventListener("click",()=>{
      let taxinfo = document.getElementsByClassName("tax-info");//tax-info means +18% gst
      for(info of taxinfo){
        if(info.style.display != "inline"){
          info.style.display= "inline"; //When our tax-info class is not inline then we'll change it to inline
        }
        else{
          info.style.display = "none";//if it is inline then we'll change to none. 
        }
        //when we'll use tax checkbox if we select checkbox then our tax-info class will be shown when will we turnoff that checkbox text-info will set to none
      }
    })
   </script>
</body>
