<!-- Index.ejs file is made for rendering our all listings and to create new listing button within it -->
<%layout("/layouts/boilerplate")%>

<body>
   <style>
    #filters {
      display: flex;
      flex-wrap: wrap;
    }
    .filter {
      text-align: center;
      margin-right: 4rem;
      margin-top: 2rem;
      opacity: 0.5;
    }
    .filter:hover {
opacity: 1;
cursor: pointer;
    }
    .filter p {
      font-size: 0.8rem;
    }
    .filter a {
      text-decoration: none;
      color: inherit;
    }
   </style>
    <div id="filters">
      <div class="filter">
        <a href="/Listings" class="listing_link">
       <div> <i class="fa-solid fa-fire fi"></i></div>
       <p>Trending</p>
       </a>
      </div>
      <div class="filter">
        <a href="/category/Rooms" class="category-link">
        <div><i class="fa-solid fa-bed fi"></i></div>
        <p>Rooms</p></a>
       </div>
       <div class="filter">
        <a href="/category/Beach" class="category-link">
         <div><i class="fa-solid fa-umbrella-beach fi"></i></div>
         <p>Beach</p></a>
        </div>
        <div class="filter">
          <a href="/category/Arctic" class="category-link">
          <div> <i class="fa-solid fa-snowflake fi"></i></div>
          <p>Arctic</p></a>
         </div>
         <div class="filter">
          <a href="/category/Swimming Pool" class="category-link">
           <div><i class="fa-solid fa-person-swimming fi"></i></div>
           <p>Swimming Pool</p></a>
          </div>
          <div class="filter">
            <a href="/Listings/Camping" class="category-link">
           <div> <i class="fa-solid fa-tents fi"></i></div>
           <p>Camping</p></a>
          </div>
          <div class="filter">
            <a href="/category/Hill-Station" class="category-link">
            <div><i class="fa-solid fa-mountain-city fi"></i></div>
            <p>Hill-Station</p></a>
           </div>
           <div class="filter">
            <a href="/category/Vineyards" class="category-link">
            <div> <i class="fa-solid fa-wine-glass fi"></i></div>
            <p>Vineyards</p></a>
           </div>
           <div class="filter">
            <a href="/category/Lake" class="category-link">
            <div><i class="fa-solid fa-water fi"></i></div>
            <p>Lake</p></a>
           </div>
           <div class="filter">
            <a href="/category/National-Parks" class="category-link">
            <div><i class="fa-solid fa-tree fi"></i></div>
            <p>National Parks</p></a>
           </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
      <% for(let Listing of allListings){%>
      <a href="/Listings/<%=Listing._id%>" class="listing_link">
        <div class="card col listing-card" style="width: 18rem;">
          <img src="<%=Listing.image.url%>" class="card-img-top" alt="listingimage"style="height: 18rem;">
          <!-- Below card-img-overlay is for giving a clickable hovering effect to our card using css -->
          <div class="card-img-overlay"></div>
          <div class="card-body">
  <p class="card-text">
    <b><%=Listing.title%></b> 
    <br>
    <b>&#8377;<%=Listing.price.toLocaleString("en-IN")%> </b>/night</p>
          </div>
        </div></a>
        <%}%></div>
   
</body>
