<!-- Index.ejs file is made for rendering our all listings and to create new listing button within it -->
<%layout("/layouts/boilerplate")%>

<body>
    <h3>All Listings</h3>
    <!-- <form action="/Listings/new" method="get">
        <button>Create new listing</button> 
    </form>-->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
      <% for(let Listing of allListings){%>
      <a href="/Listings/<%=Listing._id%>" class="listing_link">
        <div class="card col listing-card" style="width: 18rem;">
          <img src="<%=Listing.image.url%>" class="card-img-top" alt="listingimage"style="height: 18rem;">
          <!-- Below card-img-overlay is for giving a clickable hovering effect to our card using css -->
          <div class="card-img-overlay"></div>
          <div class="card-body">
  <p class="card-text">
    <b><%=Listing.title%></b> 
    <br>
    <b>&#8377;<%=Listing.price.toLocaleString("en-IN")%> </b>/night</p>
          </div>
        </div></a>
        <%}%></div>
   
</body>
